/* header */

header {
  background-color:black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin:0px;
  text-align: center;
}

.dotted { border: 1px dotted black;}

/* logo */

.logo {
  background-color:#FFEDDF;
  color: #0d1321;
  text-align:center;
}

header h1 {
  font-size: 50px;
  height: 20px;
  margin: 10px;
  padding: 5px;
}

header h2 {
  font-size: 30px;
  padding: 10px;
}

header h3{
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
}

p, ul, ol {
  font-family:'Courier New', Courier, monospace;
}


.image-rounded {
  border-radius:20%;
  width: 400px;
}

article {
  font-family:'Courier New', Courier, monospace;
  margin: 0px;
}

section {
  padding: 50px 30px;
  background-color: #c5d86d;
  /*background-color: #9ba195; test background color*/
}

 /* Styled links using pseudo-classes */

a:link {
  color: blue;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
}
a:active {
  color: red;
}


footer{
  /*background-color:#86615c; test background color*/
  /*background-color: #c5d86d;  test background color*/
  background-color: #afe0ce;
  text-align: center;
}